.item{
  width: 200px;
  height: 200px;
}
.green{
  background-color: #51d400;
}
.yellow{
  background-color: #ffd62a;
}
.purple{
  background-color:#b02afe;
}
.container {
  width:450px;
  display: flex;
  
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  }