label{
  text-transform: uppercase;  
  margin: 20px;
}
input {
  display: block;
  width: 10%;
  padding: 15px 150px;
  margin: 0px 0;
  border: 4px solid #aaff44;
  border-radius: 10px;
  box-sizing: border-box;
  }
button{
  width:100px;
  height:60px;
  margin: 10px 50px;
  background: #aaff44;
  border-radius: 15px;
  text-transform: uppercase; 
}