body{
  font-size:35px;
 font-family: 'Poppins', sans-serif;
}
div {
  display:flex;
}
section{
  width:200px;
  display:block;
  text-align:center;
  font-size:18px;
}
a{
  display:block;
}
a:hover{
  color:blue;
}

img{
  width:150px;
}